div {
  box-sizing: border-box;
}
#confetti {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

#stuff {
  overflow: hidden;
  position: absolute;
  padding: 20px;
  margin: 0 auto;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1000px;
  z-index: 9;
  text-align: center;
}
.cake {
  max-width: 500px;
}

.birthdayfont {
  max-width: 500px;
}
